body{
    background-color: purple;
    padding: 3rem;
    align-items: center;
    color: white;
}
.container {
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
    /* background-color: blue; */
}
/* .para {
    display: flex;
    justify-content: space-between ;
    text-align: center;
} */

.myImages{
    /* background-color: black; */
    display:inline-block;
    width: min-content;
    height: 450px;
    text-align: center;
}

.button{
    margin:1em;
}
